<header> 
    <nav>
        <div class="logo">Anshelna Dealer</div>
        <div class="nav-links">
            <a href="index.html">Home</a>
            <a href="cars.html">Cars</a>
            <a href="infobuy.html">More Info to Buy</a>
        </div>
    </nav>
</header>